/* Native CSS variables */
/* Header CSS code */
body {
    background-color: rgba(122, 50, 49, 1);
}

.header-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

main {
    background-color: rgba(122, 50, 49, 1);
}

.main-wrapper {
    max-width: 1920px;
    margin: 0 auto;
}


h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: rgba(237, 203, 177, 1)
}

.image-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.5) 95%);
    pointer-events: none;
    z-index: 0;
}

nav {
    z-index: 2;
}

.navigationLink {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(237, 203, 177, 1) !important;
}

@keyframes hoverButtonJoinUs {
    0% {
        background-color: #A47A1E
    }

    100% {
        background-color: #AD2523;
    }
}

.buttonJoinUs {
    background-color: #A47A1E;
    padding: 7px;
    border-radius: 4px;
}

#JoinUs {
    color: white !important;
}

.buttonJoinUs:hover {
    animation: hoverButtonJoinUs 0.5s ease-in-out forwards;
}

.SmsTitle {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 4.3rem;
    color: rgba(237, 203, 177, 1) !important;
}

.SmsTitleContainer {
    top: 300px;
}

.joinPadding {
    padding: 6px 35px;
    background-color: #A47A1E;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

@keyframes hoverCTA {
    0% {
        background-color: #A47A1E;
    }

    100% {
        background-color: #AD2523;
    }
}

.joinPadding:hover {
    animation: hoverCTA 1s ease-in-out forwards;
}

.li-color {
    position: relative;
    text-decoration: none;
    padding: 5px 0;
}

.li-color::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #E10501;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.li-color:hover::after {
    width: 100%;
}

.hamb {
    font-size: 1rem;
    color: white !important;
    padding: 5px 5px;
}

.makePadding {
    padding: 0 20px;
}

.curHmbPage {
    background-color: rgba(255, 255, 255, 0.2);
}

.goldNavLink {
    background-color: #A47A1E !important;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab-light {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-text {
    animation: fadeSlideIn 2s ease-out forwards;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
}

/* CSS for the main content */

.moto {
    padding: 12rem 0 !important;
}

/* CSS for the Highlighted content */

.highlighted-content {
    background-color: #332929;
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.line {
    width: 100%;
    height: 2px;
    background-color: #AD2523;
    margin: 1rem 0;
}

.highlightedTitle {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(237, 203, 177, 1);
    font-size: 2rem;
}

.container-fluid-highlighted {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btnJoinUS {
    background-color: #AD2523;
    color: white !important;
}

.btnJoinUS:hover {
    background-color: #A47A1E !important;
    color: white !important;
}

.btnReadMore {
    background-color: #7A3231;
    color: white !important;
}

.btnReadMore:hover {
    background-color: #A47A1E !important;
    color: white !important;
}

@keyframes myCardHover {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    100% {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
}

.myCard {
    padding-top: 15px;
    padding-bottom: 15px;
}

.myCard:hover {
    animation: myCardHover 0.3s ease-in-out forwards;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.news-content {
    padding: 2rem;
}

.line-news {
    width: 100%;
    height: 2px;
    background-color: #A47A1E;
    margin: 1rem 0;
}

.roundTheCorners {
    border-radius: 10px;
}

.hoverOnImage:hover .roundTheCornersbottom {
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.roundTheCornersbottom {
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 30%;
    transition: height 0.6s ease;
}

.equal-card {
    aspect-ratio: 16 / 10;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.hover-text {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.card-hover-wrapper:hover .hover-text {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.hover-text {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hover-text::-webkit-scrollbar {
    display: none;
}

.h5-card {
    font-size: 1.5rem !important;
}

.moto_background {
    position: relative;
    width: 100%;
    min-height: 283.2px;
    /* ili koliko želiš */
    overflow: hidden;
}

.moto_background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../../images/OPĆINA-SRAČINEC-naslovna\ 2.png) no-repeat center center;
    background-size: cover;
    z-index: 0;
    opacity: 1;
}

.overlay_moto {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
}

.container.moto {
    position: relative;
    z-index: 1;
}

/* Footer CSS code */

.footerText {
    padding: 40px 0;
    gap: 4rem;
}

footer {
    position: relative;
    background-image: url(../../images/sracinec-13.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.socialMediaIcons {
    padding-top: 30px;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transform: scale(1.1);
    z-index: -2;
}

footer::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.blurred-section {
    position: relative;
    background: url('your-background.jpg') center/cover no-repeat;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.blurred-section::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.sponsors-section {
    background-color: inherit;
    overflow: hidden;
}

.sponsors-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.sponsors-track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
    gap: 4rem;
}

.sponsors-track img {
    height: 200px;
    object-fit: contain;
    opacity: 0.85;
    transition: transform 0.3s ease;
}

.sponsors-track img:hover {
    transform: scale(1.1);
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Media Queries */

@media (max-width: 1277px) {
    .SmsTitle {
        font-size: 3.8rem;
    }

    .SmsTitleContainer {
        top: 280px;
    }

    .changeGap {
        gap: 1rem !important;
    }

    .titleSavjet {
        font-size: 1.8rem !important;
    }

    .titleLogo {
        width: 80px !important;
        height: 80px !important;
    }

    .joinPadding {
        font-size: 1.8rem !important;
    }

    .marginResponsive {
        margin-right: 1.4rem !important;
    }
}

@media (max-width: 1112px) {
    .SmsTitle {
        font-size: 3.4rem;
    }

    .SmsTitleContainer {
        top: 250px;
    }

    .changeGap {
        font-size: 0.9rem !important;
    }

    .titleSavjet {
        font-size: 1.6rem !important;
    }

    .titleLogo {
        width: 70px !important;
        height: 70px !important;
    }

    .joinPadding {
        font-size: 1.6rem !important;
    }

    .marginResponsive {
        margin-right: 1.3rem !important;
    }

    .h5-card {
        font-size: 1.2rem !important;
    }

    .p-card-text {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 996px) {
    .SmsTitle {
        font-size: 3rem;
    }

    .SmsTitleContainer {
        top: 220px;
    }

    .changeGap {
        font-size: 0.8rem !important;
    }

    .titleSavjet {
        font-size: 1.4rem !important;
    }

    .titleLogo {
        width: 60px !important;
        height: 60px !important;
    }

    .joinPadding {
        padding: 4px 25px;
        font-size: 1.4rem !important;
    }

    .marginResponsive {
        margin-right: 1.2rem !important;
    }

    @keyframes fadeSlideIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .h5-card {
        font-size: 0.9rem !important;
    }

    .p-card-text {
        font-size: 0.7rem !important;
    }

    .moto {
        padding: 11rem 0 !important;
    }
}

@media (max-width: 882px) {
    .SmsTitle {
        font-size: 2.6rem;
    }

    .SmsTitleContainer {
        top: 210px;
        gap: 0.5rem !important;
    }

    .changeGap {
        gap: 0.7rem !important;
        font-size: 0.7rem !important;
    }

    .titleSavjet {
        font-size: 1.2rem !important;
    }

    .titleLogo {
        width: 50px !important;
        height: 50px !important;
    }

    .joinPadding {
        font-size: 1.2rem !important;
    }

    .marginResponsive {
        margin-right: 1.1rem !important;
    }

    .buttonJoinUs {
        padding: 5px;
    }

    .highlightedTitle {
        font-size: 1.5rem;
    }

    .h5-card {
        font-size: 0.8rem !important;
    }

    .p-card-text {
        font-size: 0.6rem !important;
    }

    .moto {
        padding: 9rem 0 !important;
    }
}

@media (max-width: 768px) {
    .SmsTitle {
        font-size: 2.2rem;
    }

    .SmsTitleContainer {
        top: 160px;
        gap: 0.5rem !important;
    }

    .changeGap {
        gap: 0.5rem !important;
        font-size: 0.6rem !important;
    }

    .titleSavjet {
        font-size: 1rem !important;
    }

    .titleLogo {
        width: 45px !important;
        height: 45px !important;
    }

    .gappingContainer {
        gap: 0.9rem !important;
    }

    .joinPadding {
        padding: 6px 22px;
        font-size: 1rem !important;
    }

    .marginResponsive {
        margin-right: 1.1rem !important;
    }
}

@media (max-width: 767.27px) {
    .h5-card {
        font-size: 1.2rem !important;
    }

    .p-card-text {
        font-size: 0.9rem !important;
    }

    .moto_background::after {
        width: 100%;
    }

    .overlay_moto {
        width: 100%;
    }
}

@media (max-width: 648px) {
    .navigationLink {
        gap: 0.5rem !important;
    }

    .changeGap {
        gap: 0.4rem !important;
        font-size: 0.5rem !important;
    }

    .titleSavjet {
        font-size: 0.9rem !important;
    }

    .changeFontSizeP {
        margin-right: 15px !important;
    }

    .titleLogo {
        width: 40px !important;
        height: 40px !important;
    }

    .marginResponsive {
        margin-right: 1rem !important;
    }

    .marginResponsive {
        margin-right: 0.2rem !important;
    }

    @keyframes fadeSlideIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .moto {
        padding: 7rem 0 !important;
    }
}

@media (max-width: 540px) {
    .changeGap {
        gap: 0.3rem !important;
        font-size: 0.4rem !important;
    }

    .marginResponsive {
        margin-right: 0.9rem !important;
    }

    .highlighted-content {
        padding: 1rem;
    }

    .changeFontSizeP {
        font-size: 1rem !important;
    }
}

@media (max-width: 480px) {

    .h5-card {
        font-size: 0.8rem !important;
    }

    .p-card-text {
        font-size: 0.6rem !important;
    }

    .changeGap {
        gap: 0.2rem !important;
        font-size: 0.3rem !important;
    }

    .marginResponsive {
        margin-right: 0.8rem !important;
    }

    .line {
        margin: 0.5rem 0;
    }

    .mt-3 {
        margin-top: 0.5rem !important;
    }

    .news-content {
        padding: 1rem;
    }
}

@media (max-width: 419px) {

    .gappingContainer {
        gap: 0.5rem !important;
    }

    .changeGap {
        gap: 0.1rem !important;
        font-size: 0.2rem !important;
    }

    .marginResponsive {
        margin-right: 0.7rem !important;
    }

    .chg {
        margin-top: 0.8rem !important;
    }

    .moto {
        padding: 6.5rem 0 !important;
    }

    .changeFontSize {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 378px) {
    .h5-card {
        font-size: 0.7rem !important;
    }

    .p-card-text {
        font-size: 0.5rem !important;
    }

    .moto {
        padding: 5rem 0 !important;
    }
}

@media(max-width: 344px) {
    .SmsTitle {
        font-size: 1.9rem;
    }
}

@media (max-width: 307px) {

    .SmsTitle {
        font-size: 1.7rem;
    }
}

@media (max-width: 249px) {
    .joinPadding {
        padding: 1px 12px;
        font-size: 0.5rem !important;
    }
}

/* Media queries for bigger devices */
@media (min-width: 1600px) {
    .h5-card {
        font-size: 2rem !important;
    }

    .p-card-text {
        font-size: 1.2rem !important;
    }
}